<ion-view view-title="Activities">
  <ion-content>
       <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="load()">
        </ion-refresher>
        <div class="card text-center" ng-hide="message">
           <div class="item item-text-wrap custom">
              One moment please. No activities to show at the moment.
           </div>
        </div>
       <ion-list ng-show="message">
                <div ng-repeat="item in activities | orderBy:'activities_PostedOn':true">
                    <ion-item class="item-light custom">
                         <div class="row">
                             <div class="col col-5-"><b>Title:</b> {{item.activities_Title}}</div>
                             <div class="col col-5-"><b>Posted on:</b> {{item.activities_PostedOn | date:'yyyy-MM-dd HH:mm:ss'}}
                                </div>
                        </div>
                                <div class="row">
                                    <div class="col col-5-"><b>Starting Time:</b> {{item.activities_StartTime | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                                </div>
                        <div class="row">
                            <div class="col col-50 item-text-wrap">{{item.activities_Description}}</div>
                        </div>
                    </ion-item>
           </div>
      </ion-list>
  </ion-content>
</ion-view>