<ion-view view-title="Welcome" cache-view="false">
    <ion-nav-buttons side="left"></ion-nav-buttons>
    <ion-content class="padding">
        <div ng-show="show">
         <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" ng-model="query" placeholder="Which team are you on?">
        </label>
        <div class="list list-inset" ng-if="query">
        <ion-list>
                <div ng-repeat="participant in participants | filter:query | limitTo: 10">
                    <ion-item class="item-stable custom"
                        ng-click="selected(participant)">
                        {{participant.participants_TeamName}} - {{participant.participants_ClubName}} - {{participant.participants_City}}
                    </ion-item>
                </div>
            </ion-list>
        </div>
            </div>
        <div class="card text-center" ng-hide="show">
            <div class="item item-text-wrap custom">
              Unfortunately, no tournament data is available at the moment.
           </div>
        </div>
    </ion-content>
</ion-view>