<ion-view view-title="News">
  <ion-content>
       <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="load()">
        </ion-refresher>
       <ion-list>
                <div ng-repeat="item in news | orderBy:'news_PostedOn':true">
                    <ion-item class="item-light custom">
                         <div class="row">
                             <div class="col col-50"><b>Title:</b> {{item.news_Title}}</div>
                             <div class="col col-50"><b>Posted on:</b> {{item.news_PostedOn | date:'yyyy-MM-dd HH:mm:ss'}}
                                </div>
                        </div>
                            <div class="row">
                                <div class="col col-50 item-text-wrap">{{item.news_Description}}</div>
                            </div>
                    </ion-item>
           </div>
      </ion-list>
  </ion-content>
</ion-view>