<ion-view view-title="Statistics" cache-view="false">
    <ion-content>
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="load()">
        </ion-refresher>
        <div ng-show="show">
            <ion-list>
                <div ng-repeat="level in levels">
                    <ion-item class="item-stable custom"
                        ng-click="toggleLevel(level)"
                        ng-class="{active: isLevelShown(level)}">
                        <i class="icon" ng-class="isLevelShown(level) ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>
                        &nbsp;
                        {{level.levels_LevelName}}
                    </ion-item>
                    <div class="item item-divider custom" ng-show="isLevelShown(level)" ng-if="level.statistics.length != 0"
                            ng-class="{active: isGroupShown(group)}">
                            <div class="row">
                                &nbsp;
                                <div class="col col-75">Team</div>
                                <div class="col">W</div>
                                <div class="col">P</div>
                            </div>
                    </div>
                    <div ng-repeat="participant in level.statistics | orderBy:['groups_has_participants_TotalScore', 'groups_has_participant_TotalWon']:true">
                        <ion-item class="item-accordion custom"
                            ng-show="isLevelShown(level)"
                            ng-class="{active: isGroupShown(group)}">
                            <i ng-class="isGroupShown(group)"></i>
                            <div class="row">
                                &nbsp;
                                <div class="col col-75">{{$index + 1}}. {{participant.participants_TeamName}}</div>
                                <div class="col">{{participant.groups_has_participants_TotalWon}}</div>
                                <div class="col">{{participant.groups_has_participants_TotalScore}}</div>
                            </div>
                        </ion-item>
                    </div>
                </div>
            </ion-list>
        </div>
        <div class="card text-center" ng-hide="show">
           <div class="item item-text-wrap custom" >
              Unfortunately, no tournament data is available at the moment.
           </div>
        </div>
  </ion-content>
</ion-view>